@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

:root {
  --container-max-width: none;
  --edge-padding: 20px;
  /* Mobile */
  --font-size-mobile-b1-px: 16px;
  --font-size-mobile-b2-px: 14px;
  --line-height-mobile-b1-px: 22px;
  --line-height-mobile-b2-px: 20px;
  --font-size-mobile-b3-px: 12px;
  --line-height-mobile-b3-px: 16px;
  --font-size-mobile-sm-px: 10px;
  --line-height-mobile-sm-px: 14px;

  /* Desktop */
  --font-size-desktop-b1: 18px;
  --font-size-desktop-b2: 16px;
  --line-height-desktop-b2: 22px;
  --font-size-desktop-b3: 14px;
  --line-height-desktop-b3: 20px;
  --font-size-desktop-sm: 12px;
  --line-height-desktop-sm: 16px;
  --font-size-desktop-xs: 10px;
  --line-height-desktop-xs: 14px;

  /* Typography weights */
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-size-b1: var(--font-size-mobile-b1-px);
  --line-height-b1: var(--line-height-mobile-b1-px);
  --font-size-b2: var(--font-size-mobile-b2-px);
  --line-height-b2: var(--line-height-mobile-b2-px);
  --font-size-b3: var(--font-size-mobile-b3-px);
  --line-height-b3: var(--line-height-mobile-b3-px);
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow: hidden;
}

/**
 * Responsive starts here. Hardcoding the breakpoints instead of using SCSS so we don’t need a build process
 * for design-tokens: `base.css` and `variables.css`. Requiring no build process makes it easy to import
 * these files in local development storybook, Next.js project, etc.
 *
 * Tech debt. Could possibly be improved using [custom media queries](https://cssdb.org/#custom-media-queries)
 *
 * IMPORTANT: keep values in sync [DUPLICATE_HARDCODED_BREAKPOINTS]
 */

@media (min-width: 600px) {
  :root {
    /* Responsive Container */
    --edge-padding: 40px;
  }
}

@media (min-width: 840px) {
  :root {
    /* Responsive container */
    --container-max-width: 760px;
    --font-size-b1: var(--font-size-desktop-b1);
    --line-height-b1: var(--line-height-desktop-b1);
    --font-size-b2: var(--font-size-desktop-b2);
    --line-height-b2: var(--line-height-desktop-b2);
    --font-size-b3: var(--font-size-desktop-b3);
    --line-height-b3: var(--line-height-desktop-b3);
  }
}

@media (min-width: 960px) {
  :root {
    /* Responsive Container */
    --edge-padding: 100px;
    --container-max-width: none;
  }
}

@media (min-width: 1280px) {
  :root {
    /* Responsive Container */
    --edge-padding: 120px;
  }
}

@media (min-width: 1440px) {
  :root {
    /* Responsive Container */
    --edge-padding: 120px;
    --container-max-width: 1200px;
  }
}
